<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAI9SURBVGhD7Zo7rExBAECXggShJz6FTie0olCKRINCJ6EhQeNXKEhQ+XQiIaLE60hEQkLUgsqnEArR+IWK4Jy7O7FZ9212Vube2TUnOXl39r28nbNzZz/3vU6hUChMFSvxAt7Buy3pfZ/H5TgWK/AjPsIzeLolvW/n8AGdUzQ+Cv6COdWoXZyDczlXjSK5hz4iuXAcnVM0D/FU9zALDqNzimaqQm7hXFzX0+NdLd12E8cOeYbzcUdPj6+1dNtjHDuk7JEElJASkohkIVfwcvewwp+9+I/6tDsbyUKMmIqQpikh/01I2exDLJt9GClC/Ki6G5dUoziyCjHiF35D99gGHPWaQDab3UtLi/ErGvMGf+ArdJJLcRjJQmI3+0aUq/gWF6GTP4bGGLUfZyOrU0s8nZz0smrUZT3+7HnAG2rILsQ98QKPVqNO5zV6ql1HP9YaWReTXYgcwZe4Fo3YgmHTb8e6mGQh47yyb0LxtPqOnkquxOAzV11MNptd92DASRripOsYjFmFXl2JJuWpFXCSTnZbNfqbwZgFva9RNBEisTHRNBUiSWOaDJFkMU2HSJKYNkJkWMxC9Hq0rz0jxxhyHw81qE+xEmJcgYARD/A57sORV+Ys1v1xMqWXcB5Kf0x/RHiPthNdmYPVKHNCzFPsjzD2Nr5Hv78Vs8cYH/m91ehPhB8FVuNJfIITQVgZT6f+CNmMn7uHk0FYmXcYInyzOYP+U8FEEVbmBLoSN/ALrsGJw43t5v+ErgQRnc5vJWlWsLj17ikAAAAASUVORK5CYII="
        alt="Logo"
        class="mr-3"
      >
      DevLogger
    </a>
  </div>
</nav>
